html{
    height: 100%;
    width: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    background: black;
    font-family: "Coming Soon";
    color: white;
    animation: loopColor 5s infinite;
}

@keyframes loopColor {
    0% {
        background-color: black;
    }

    25% {
        background-color: red;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: black;
    }
}
#game{
    display: flex;

}
canvas {
    border-radius: 12px;
    display: flex;
    flex: 0 0 auto;
    align-items: flex-end;
}
.points{
    display: flex;
    flex: 0 0 auto;

    font-size: 50px;
    justify-content: center;
    align-items: flex-end;
}
.record{
    display: flex;
    flex: 0 0 auto;
    font-size: 50px;
    justify-content: center;
    align-items: flex-end;
}
@media screen and (max-width: 480px) {
    .points{
        display: flex;
        flex: 0 0 auto;
        font-size: 30px;
        justify-content: center;
        align-items: flex-end;
    }
    .record{
        display: flex;
        flex: 0 0 auto;
        font-size: 30px;
        justify-content: center;
        align-items: flex-end;
    }
}
.button__resume{
    display: flex;
    justify-content: center;
    background: transparent;
    color: white;
    font-family: "Coming Soon";
    border-radius: 8px;
    border-color: blue;
}
.container-button{
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}
.container-value{
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    align-items: center;
}