@keyframes loopColor {
    0% {
        background-color: black;
    }

    25% {
        background-color: red;
    }

    50% {
        background-color: blue;
    }

    100% {
        background-color: black;
    }
}
.container{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}
.header{
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    width: 100%;
    height: 250px;
    align-items: flex-end;
    font-size: 30px;
}
.container__text{
    display: flex;
    flex: 1 0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.text{
    font-size: 20px;
}
.footer{
    display: flex;
    flex: 0 0 auto;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-top: 1px white;
    border-top: 1px solid;
    border-radius: 8px;
}